<div class="container">
  <h1>Angular CRUD With Asp.Net Core</h1>

  <div class="cards-container">
    <div class="cards-form">
      <form #form = "ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Card Name</label>
          <input type="text" name="cardName" [ngModel]="card.cardHolderName">
        </div>
        <div class="form-group">
          <label for="">Card Number</label>
          <input type="text" name="cardNumber" [ngModel]="card.cardNumber">
        </div>
        <div class="form-group form-group-inline">
          <div>
            <label for="">CVV</label>
            <input type="text" name="cvv" [ngModel]="card.cvv">
          </div>
          <div>
            <label for="">Expiry Month</label>
            <input type="text" name="expiryMonth" [ngModel]="card.expiryMonth">
          </div>
          <div>
            <label for="">Expiry Year</label>
            <input type="text" name="expiryYear" [ngModel]="card.expiryYear">
          </div>
        </div>

        <div class="form-group">
          <button>Save</button>
        </div>
      </form>
    </div>
    <div class="cards-grid">
      <div  class="card-row" *ngFor="let card of cards">
        <div class="card-row-details">
          <span>{{card.cardHolderName}}</span>
          <span>{{card.cardNumber}}</span>
        </div>
        <div class="card-row-action">
          <a (click)="deleteCard(card.id)"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>